@{
    Layout = null;
 }
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="~/Content/BootstrapCss/bootstrap.min.css" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="~/Content/MainPageStyles/mainStyle.css" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="height:60px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Аукционы", "Index", "Auction")</li>
                    <li>@Html.ActionLink("Аукционы в моих домах", "GetHouseAuctions", "Auction")</li>
                    <li>@Html.ActionLink("Аукционы у друзей", "GetFriendsAuctions", "Auction")</li>
                    <li>@Html.ActionLink("Продать", "Create", "Auction")</li>
                    <li>@Html.ActionLink("Дома", "Index", "AuctionHouse")</li>
                    <li>@Html.ActionLink("Люди", "Index", "Users")</li>
                    <li>@Html.ActionLink("Поиск", "Index", "Search")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="~/Content/SiteImages/collaboration.png" alt="">
                    <div class="intro-text">
                        <span class="name">Общайтесь, меняйтесь, радуйтесь!</span>
                        <hr>
                        <span class="skills">Web Application for Student's Collaboration</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container" id="generalInfo">
        <div class="row">
            <h1>Что здесь можно делать?</h1>
            <hr style="columns: ;">
            <div class="col-lg-4">
                <img src="~/Content/SiteImages/talk.png" height="370px">
                <h2>Общаться со студентами из своего университета</h2>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/SiteImages/exchange.png" height="370px">
                <h2>Меняться с теми, кто оценил вашу вещь по достоинству</h2>
            </div>
            <div class="col-lg-4">
                <img src="~/Content/SiteImages/neighbours.png" height="370px">
                <h2>Смотреть, что есть на обмен в общежитии и на факультете</h2>
            </div>
        </div>
    </div>

    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Web Application for Student's Collaboration, 2015. Created by Alexander Lazarenko.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
