@{
    ViewBag.Title = "Index";
    CocktionContext db = new CocktionContext();
}
@using CocktionMVC.Models.DAL;
@using CocktionMVC.Models.ViewModels
@using Microsoft.AspNet.Identity
@model AspNetUser

<link rel="stylesheet" href="~/Content/UsersRelatedStyles/ProfileStyle.css"/>
<script src="~/Scripts/MyLib/AuctionHouse/GetUniversityHouses/printHousesInCells.js"></script>
<script src="~/Scripts/MyLib/Auction/Index/auctionAdder.js"></script>
<script src="~/Scripts/MyLib/Profile/addPhoto.js"></script>
<script src="~/Scripts/MyLib/Profile/addInformation.js"></script>
<script src="~/Scripts/Jquery/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/MyLib/Profile/chatLogic.js"></script>

<script>
    var chat = $.connection.messageHub;
    var responderName = "";
    var thisUserName = '@Model.UserName';
    var responderId = null;
    chat.client.addNewMessageToPage = function (author, message,date, receiverId) {
        
        //если в табличке есть пользователь с именм author, но 
        //responderName != authorName, то тогда мы его хайлайтим
        if ($("div[value='" + author + "']").length > 0) {
            if (responderName != author) { //не открыто окно с сообщениями от этого пользователя
                $n = $("div[value='" + author + "']")[0];
                $n.style.backgroundColor = 'darkturquoise';
            } else { //открыто окно с сообщениями от этого автора
                responderId = receiverId;
                $("#messages").append(generateMessageString(author, message, date));
                $("#messages").animate({ scrollTop: $("#messages")[0].scrollHeight }, 100);
            }
        } else if(thisUserName != author) {
            addUserToList(author, 'dfd');
            $n = $("div[value='" + author + "']")[0];
            $n.style.backgroundColor = 'darkturquoise';
        }
    };

    chat.client.appendMessageToPage = function (author, message,date, receiverId) {
        responderId = receiverId;
        $("#messages").append(generateMessageString(author, message, date));
        $("#messages").animate({ scrollTop: $("#messages")[0].scrollHeight }, 100);
    };

    chat.client.addAuthors = function(author) {
        addUserToList(author, 'Тип фоточка');
    };
    
    $.connection.hub.start().done(function () {
        chat.server.addNewRoom('@Model.UserName');
        chat.server.getListOfReceivers('@Model.UserName');
        $('#sendMessageBtn').click(function () {
            if (responderName.length > 0) {
                var textToAppend = '<p><b>' + '@Model.UserName' + ': </b>' + $("#messageContainer").val() + " " +Date().toString()+'</p>';
                $("#messages").append(textToAppend);
                chat.server.send($("#messageContainer").val(), '@Model.UserName', responderName, '@User.Identity.GetUserId()',
                    responderId);
                $("#messageContainer").val("");
                $("#messages").animate({ scrollTop: $("#messages")[0].scrollHeight }, 100);
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#messageContainer').keypress(function (e) {
            if (e.keyCode == 13)
                $('#sendMessageBtn').click();
        });
    });
</script>

<div id="chatFormContainer">
    <div class="row">
        <div class="col-md-5" id="usersList">
            <!--Тут будет список людей, с которыми ты можешь общаться-->
            <!--Сделать запрос на сервер, чтобы получить список всех пользователей, с которыми он в диалоге-->
        </div>
        <div class="col-md-7" id="messagesWindow">
            <!--Здесь будет непосредственно контейнер для сообщений-->
            <h4 id="userHeader">Диалог с </h4>
            <div id="messages">
            </div>
            <div id="inputMessageForm">
                <!--Группа для ввода сообщения-->
                <div class="input-group">
                    <input type="text" class="form-control" id="messageContainer">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="sendMessageBtn" type="button">Отправить</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</div>

<div class="row"> <!--Верхняя часть страницы, имя, рейтинг, фотка и интересы-->
    <br/>
    <!--Фотка и информация о пользователе-->
    <div class="col-md-3" style="align-items:flex-start">
        <!--Контейнер для аватарки-->
        @{
            if (Model.Selfie == null)
            {
                <img id="avatar" src="~/Content/SiteImages/anonPhoto.jpg" class="img-thumbnail" />
            }
            else
            {
                <img id="avatar" src="~/Images/Thumbnails/@Model.Selfie.FileName" class="img-thumbnail" />
            }
        }
        <p><button class="btn btn-default" onclick="showPhotoForm() ">Добавить аватарку</button>
        </p>
        <p><button class="btn btn-default" onclick="showEditInfoForm()">Добавить информацию о себе</button>
        </p>
        <div id="editInformationContainer" hidden="">
            <input type="text" oninput="handleInfoChange()" id="name" class="form-control" placeholder="Имя">
            <br />
            <input type="text" oninput="handleInfoChange()" id="surname" class="form-control" placeholder="Фамилия">
            <br />
            <input type="text" oninput="handleInfoChange()" id="school" class="form-control" placeholder="Университет/школа">
            <div id="errorField" hidden=""></div>
            <button id="editInfoBtn" onclick=" sendInfo() ">Добавить инфу</button>
            <div class="progress" id="infoBarContainer" hidden="">
                <div class="progress-bar" id="infoBar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
        <div id="addPhotoContainer" hidden="">
            <input type="file" onchange="showAddPhotoButton()" id="usersPhoto"/>
            <button class="btn btn-default" id="addPhotoBtn" onclick="addPhoto() " disabled="">Сменить фотку</button>
            <div class="progress" id="progressBarContainer" hidden="">
                <div class="progress-bar" id="bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2" id="userInformation">
        <!--Контейнер для информации-->
        <div id="userName">
            <!--Контейнер для имени пользователя-->
            @{
                if (!string.IsNullOrEmpty(Model.UserRealSurname) && !string.IsNullOrEmpty(Model.UserRealName))
                {
                    <h4>@Model.UserRealSurname @Model.UserRealName</h4>
                }
                else
                {
                    <h4>@Model.UserName</h4>
                }
            }
        </div>
        <br/>
        <div id="userRates">
            <!--Контейнер для информации о пользователе-->
            <p><b>Рейтинг:</b> @Model.Rating</p>
            <p><b>Яиц: </b> @Model.Eggs</p>
            <p><b>Аукционов сделал:</b> @Model.HisAuctions.Count</p>
            @{
                if (!string.IsNullOrEmpty(Model.SocietyName))
                {
                    <p><b>Общество: </b>@Model.SocietyName</p>
                }
            }
        </div>
    </div>
    <div class="col-md-7" id="userLifePos">
        <h4>Жизненная позиция пользователя</h4>
        <div class="row" id="interests">
            @{
                if (Model.Interests.Count != 0)
                {
                    <h3>Ваши интересы</h3>
                    foreach (var i in Model.Interests.ToList())
                    {
                        <p>@i.Name</p>
                    }
                }
}
            <p><button id="showInterestsFormBtn" onclick="showInterestsForm()">Добавить интересы</button></p>
            <div id="interestsToChoose" hidden="">
                @if (Model.Interests.Count != db.Interests.Count())
                {
                    foreach (var i in db.Interests.ToList())
                    {
                        if (!Model.Interests.Contains(i))
                        {
                            <p><input type="checkbox" id="int_@i.Id" onclick=" addId(this) "/>@i.Name</p>
                        }
                    }
                }
                else
                {
                    <p>Больше нечего добавлять!</p>
                }
                <div class="progress" id="interestsBarContainer" hidden="">
                    <div class="progress-bar" id="interestsBar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    </div>
                </div>
                <button id="sendInterestsBtn" onclick=" sendInt() " hidden="">Добавить еще интересов</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<div class="row" id="subscribedHouses"> <!--Информация о домах, на которые подписан пользователь-->
    <!--Дома, на которые подписан пользователь-->
    <h3 id="housesHeader">Житель следующих домов</h3>


    @{
        if (Model.SubHouses.Count != 0)
        {
            foreach (var house in Model.SubHouses)
            {
                <script>
                    addHouseCell('subscribedHouses', '@house.Faculty', '@house.Adress',
                        'http://cocktion.com/AuctionHouse/GetCurrentAuctionHouse/@house.Id',
                        'http://cocktion.com/Images/Thumbnails/@house.Portrait.FileName');
                </script>
            }
        }
        else
        {
            <script>$("#subscribedHouses").append("<p>К сожеланию, вы еще не подписались на дома ;(</p>")</script>
        }
    }
</div>
<br />
<br/>

<div class="row" id="usersAuctions"> <!--Информация об аукционах, которые намутил пользователь-->
    <!--Аукционы пользователя-->
    <h3 id="auctionHeader">Владелец прекрасных аукционов</h3>
@{
    if (Model.HisAuctions.Count != 0)
    {
        foreach (var auction in Model.HisAuctions)
        {
            <script>
                addCellToTheGrid('usersAuctions', '@auction.SellProduct.Name.Replace("\n", " ")', '@auction.SellProduct.Description.Replace("\n", " ")',
                    '@auction.EndTime', 'http://cocktion.com/Images/Thumbnails/@auction.SellProduct.Photos.First().FileName',
                    'http://cocktion.com/Auction/CurrentAuction/@auction.Id');
            </script>
        }
    }
    else
    {
        <script>
            sayThatEmpty('usersAuctions');
        </script>
    }
}
</div>
<br/>
<br/>

<div class="row" id="usersSubs"> <!--Подписки пользователя на людей-->
    <h4 style="text-align: center">Ваши подписки</h4>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        @{
            foreach (var user in Model.Friends)
            {
                <p>@user.UserName</p>
            }
        }
    </div>
    <div id="col-md-4"></div>
</div>

<div class="row" id="usersFeedback"> <!--То, что пишут о пользователе другие пользователе-->
    <!--Отзывы о пользователе-->
    <div class="col-md-3" id="feedbackDescription">
        <p>
            Здесь можно разместить свой отзыв о данном пользователе. Если
            данный пользователь вас когда-либо обманывал, то напиши о нем свой плохой отзыв
            и заявите о своих недовольствах администрации. Мы разберемся и примем меры:)
            Все ради Вас!
        </p>
    </div>
    <div class="col-md-6" id="feedbackFormContainer">
        <h5 id="oppinionHeader">Мнения</h5>
        <div id="feedbackPosts"><!--Контейнер для сообщений -->
            @{
                var feeds = (from x in db.Feedbacks
                    where x.UsersId == Model.Id
                    select x).ToList();
            }
            @if (feeds.Count != 0)
            {
                foreach (UsersFeedback feed in feeds)
                {
                    <div class="feedbackPost">
                        <p class="postAuthor"><b>@feed.AuthorsName @feed.AuthorsSurname</b> cказал
                        </p>
                        <p>@feed.Message</p>
                    </div>
                    <br />
                }
            }
            else
            {
                <div class="feedbackPost" id="defaultFeedback">
                    <p class="postAuthor">
                        <b>Коки Кок</b> cказал
                    </p>
                    <p>К сожалению, никто еще не оставил отзыв об этом пользователе</p>
                </div>
                <br />
            }
        </div>
    </div>
    <div class="col-md-3">
        <p>Не надо стесняяяться!</p>
        <button>Наверх</button>
    </div>
</div>
