@{
    ViewBag.Title = "Index";
}
@using CocktionMVC.Models.DAL
@using CocktionMVC.Models.ViewModels
@using Microsoft.AspNet.Identity
@model AspNetUser
<link rel="stylesheet" href="~/Content/UsersRelatedStyles/ProfileStyle.css" />
<script src="~/Scripts/MyLib/Profile/opinionAdder.js"></script>
<script src="~/Scripts/MyLib/Auction/Index/auctionAdder.js"></script>
<script src="~/Scripts/MyLib/AuctionHouse/GetUniversityHouses/printHousesInCells.js"></script>
<script src="~/Scripts/MyLib/Profile/subscribeProcessor.js"></script>
<script src="~/Scripts/Jquery/jquery.signalR-2.2.0.min.js"></script>
<script src="~/signalr/hubs"></script>


<div class="row" id="userFullInformation">
    <br />
    <!--Фотка и информация о пользователе-->
    <div class="col-md-3" style="align-items: flex-start">
        <!--Контейнер для аватарки-->
        @{
            if (Model.Selfie == null)
            {
                <img src="~/Content/SiteImages/anonPhoto.jpg" class="img-thumbnail" />
            }
            else
            {
                <img src="http://cocktion.com/Images/Thumbnails/@Model.Selfie.FileName" class="img-thumbnail" />
            }
        }
        <div id="subscribe">

        </div>
        <script>
            checkSubscription("@Model.Id");
        </script>
    </div>
    <div class="col-md-2" id="userInformation">
        <!--Контейнер для информации-->
        <div id="userName">
            <!--Контейнер для имени пользователя-->
            @{
                if (!string.IsNullOrEmpty(Model.UserRealSurname) && !string.IsNullOrEmpty(Model.UserRealName))
                {
                    <h4>@Model.UserRealSurname @Model.UserRealName</h4>
                }
                else
                {
                    <h4>@Model.UserName</h4>
                }
            }
        </div>
        <br />
        <div id="userRates">
            <!--Контейнер для информации о пользователе-->
            <p><b>Рейтинг:</b> @Model.Rating</p>
            <p><b>Яиц: </b> @Model.Eggs</p>
            <p><b>Аукционов сделал:</b> @Model.HisAuctions.Count</p>
            <p>
                <b>Ставок сделал: </b> @Model.HisProducts.Count штук
            </p>
            @{
                if (Model.SocietyName != null)
                {
                    <p><b>Общество: </b>@Model.SocietyName</p>
                }
            }
        </div>
    </div>
    <div class="col-md-7" id="userLifePos">
        <h4>Жизненная позиция пользователя</h4>
        <div class="row" id="interests">
            <h4>Интересы</h4>
            @{
                if (Model.Interests.Count == 0)
                {
                    <p>Пользователь еще не определился с интересами</p>
                }
                else
                {
                    foreach (var interest in Model.Interests)
                    {
                        <p>@interest.Name</p>
                    }
                }
            }
        </div>
    </div>
</div>

<br />
<br />
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <div id="chatMessagesContainer"></div>
        <input type="text" class="form-group" id="inputMessage"/><br/>
        <button id="sendMessageBtn">Отправить</button>
    </div>
    <div class="col-lg-4"></div>
</div>

<style>
    #chatMessagesContainer {
        border: solid 1px lightgray;
    }
</style>

<script>
    var chat = $.connection.messageHub;
    chat.client.addNewMessageToPage = function (author, message) {
        var textToAppend = '<p><b>' + author + ': </b>' + message + '</p>';
        $("#chatMessagesContainer").append(textToAppend);
    };

    $.connection.hub.start().done(function () {
        chat.server.addNewRoom('@User.Identity.GetUserName()');
        $('#sendMessageBtn').click(function () {
            var textToAppend = '<p><b>' + '@User.Identity.GetUserName()' + ': </b>' + $("#inputMessage").val() + '</p>';
            $("#chatMessagesContainer").append(textToAppend);
            //1ый параметр - сам текст сообщений
            //2ой - имя автора сообщения
            //3ий - имя пользователя, которому надо отправить
            //айдишник текущего
            //айдишник того, которому надо отправить
            chat.server.send($("#inputMessage").val(), '@User.Identity.GetUserName()', '@Model.UserName', 
                '@User.Identity.GetUserId()', '@Model.Id');
            $("#inputMessage").val("");
        });
    });
</script>



<div class="row" id="subscribedHouses">
    <!--Дома, на которые подписан пользователь-->
    <h3 id="housesHeader">Житель следующих домов</h3>
</div>

@{
    if (Model.SubHouses.Count != 0)
    {
        foreach (var house in Model.SubHouses)
        {
            <script>
                addHouseCell('subscribedHouses', '@house.Faculty', '@house.Adress',
                    'http://cocktion.com/AuctionHouse/GetCurrentAuctionHouse/@house.Id',
                    'http://cocktion.com/Images/Thumbnails/@house.Portrait.FileName');
            </script>
        }
    }
    else
    {
        <script>$("#subscribedHouses").append("<p>К сожеланию, вы еще не подписались на дома ;(</p>")</script>
    }
}

<br />
<br />

<div class="row" id="usersAuctions">
    <!--Аукционы пользователя-->
    <h3 id="auctionHeader">Владелец прекрасных аукционов</h3>
</div>
@{
    if (Model.HisAuctions.Count != 0)
    {
        foreach (var auction in Model.HisAuctions)
        {
            <script>
                addCellToTheGrid('usersAuctions', '@auction.SellProduct.Name.Replace("\n", " ")', '@auction.SellProduct.Description.Replace("\n", " ")',
                    '@auction.EndTime', 'http://cocktion.com/Images/Thumbnails/@auction.SellProduct.Photos.First().FileName',
                    'http://cocktion.com/Auction/CurrentAuction/@auction.Id');
            </script>
        }
    }
    else
    {
        <script>
            sayThatEmpty('usersAuctions');
        </script>
    }
}

<br />
<br />
<div class="row" id="usersFeedback">
    <!--Отзывы о пользователе-->
    <div class="col-md-3" id="feedbackDescription">
        <p>
            Здесь можно разместить свой отзыв о данном пользователе. Если
            данный пользователь вас когда-либо обманывал, то напиши о нем свой плохой отзыв
            и заявите о своих недовольствах администрации. Мы разберемся и примем меры:)
            Все ради Вас!
        </p>
    </div>
    <div class="col-md-6" id="feedbackFormContainer">
        <h5 id="oppinionHeader">Мнения</h5>
        <div id="feedbackPosts">
            <!--Контейнер для сообщений -->
            @{
                CocktionContext db = new CocktionContext();
                var feeds = (from x in db.Feedbacks
                    where x.UsersId == Model.Id
                    select x).ToList();   
            }
            @if (feeds.Count != 0)
            {
                foreach (UsersFeedback feed in feeds)
                {
                    <div class="feedbackPost">
                        <p class="postAuthor">
                            <b>@feed.AuthorsName @feed.AuthorsSurname</b> cказал
                        </p>
                        <p>@feed.Message</p>
                    </div>
                    <br />
                }
            }
            else
            {
                <div class="feedbackPost">
                    <p class="postAuthor">
                        <b>Коки Кок</b> cказал
                    </p>
                    <p>К сожалению, никто еще не оставил отзыв об этом пользователе</p>
                    <br />
                </div>
            }
        </div>
        <div id="writeFeedbackForm">
            <!--Контейнер с формой для отправки своего мнения-->
            <h5>Напиши своё</h5>
            <textarea id="writeFeedbackTextarea"></textarea>
            <button class="btn btn-success" onclick="addOpinion('@Model.Id')" id="sendFeedbackBtn">Отправить отзыв</button>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
