
@{
    ViewBag.Title = "Cocktioneers";
}
@using CocktionMVC.Models.DAL
@model List<CocktionMVC.Models.DAL.AspNetUser>
<h3>Пользователи</h3>
<link rel="stylesheet" href="~/Content/UsersRelatedStyles/usersStyle.css"/>
<script src="~/Scripts/MyLib/Data/userPrinter.js"></script>
<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-7" id="usersHere">
        <!--Контейнер для информации о пользователе -->
        @{
            int amountOfUsers = Model.Count;
            int stopIndex = amountOfUsers - 1;
            for (int i = 0; i < amountOfUsers; i++)
            {
                if (i == stopIndex)
                {
                    <script>
                        addUser('@Model[i].UserRealName', '@Model[i].UserRealSurname','@Model[i].Id', 'Content/SiteImages/anonPhoto.jpg',
                            '@Model[i].Rating', '@Model[i].Eggs', '150', true)
                    </script>
                }
                else
                {
                    <script>
    addUser('@Model[i].UserRealName', '@Model[i].UserRealSurname','@Model[i].Id', 'Content/SiteImages/anonPhoto.jpg',
                            '@Model[i].Rating', '@Model[i].Eggs', '150', false)
                    </script>
                }
            }
        }
    </div>
    <div class="col-md-3" id="filterContainer">
        <p>Отфильтруйте :)</p>
        <!--Контейнер для фильтра-->
        <div class="userFilters">
            <input type="text" id="city" class="form-control" placeholder="Город">
            <br/>
            <input type="text" id="university" class="form-control" placeholder="Университет">
            <br/>
            <input type="text" id="faculty" class="form-control" placeholder="Факультет">
            <h5>Пол</h5>
            <label class="radio-inline">
                <input type="radio" id="male" onclick=" sexCheckboxCheckedHandler(this) "> Мужской
            </label>
            <label class="radio-inline">
                <input type="radio" id="female" onclick=" sexCheckboxCheckedHandler(this) "> Женский
            </label>
            <h5>Дома</h5>
            <label class="checkbox-inline">
                <input type="checkbox"> В тех же, где и я.
            </label>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
