@{
    ViewBag.Title = "Конкретный дом";
}
@using CocktionMVC.Models.DAL
@model House
 <h4>Смотри статистику. Оставляй комменты. Жги!</h4>
<p>Привет!</p>
@Model.University
@Model.Faculty
@Model.Address
<script src="~/Scripts/Jquery/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/MyLib/AuctionHouse/addComment.js"></script>
<div class="row">
    <div id="forumContainer" class="col-lg-6">
        <h3>Напиши здесь все, что думаешь об этом месте</h3>
        <div id="messageEnter">
            <p>Введите свое сообщение</p>
            <textarea id="message" cols="40" rows="3"></textarea>
            <button id="addCommentButton" onclick="addComment(@Model.Id)" title ="АРРРРР!!!!" class="btn btn-info">Царапнуть</button>
        </div>
        <div id="messageContainer">
            @if (Model.Posts.Count > 0)
            {
                foreach (var post in Model.Posts)
                {
                    <br />
                    <p>@post.AuthorName</p>
                    <p>@post.Message</p>

                }
            }
            else
            {
                <p>Нет сообщений никаких!</p>
            }
        </div>
    </div>
    <div id="auctionListContainer">
        @if(Model.Auctions.Count > 0)
        {
            <h3>Посмотри всю историю этого места!</h3>
            foreach (var auction in Model.Auctions)
            {
                <br/>
                <p>Выставили: @auction.SellProduct.Name</p>
                <p>Что это было: @auction.SellProduct.Description</p>            
            }
        }
        else
        {
            <p>Пока что никто не решился тут продавать;(</p>
        }
    </div>
</div>