@using WebGrease.Css.Ast.Selectors
@model List<CocktionMVC.Models.DAL.House>
@{
    ViewBag.Title = "Создать аукцион";
}
<script src="~/Scripts/Jquery/jquery-2.1.3.js"></script>
<script src="~/Scripts/MyLib/Auction/Create/categoryOnClick.js"></script>
<script src="~/Scripts/MyLib/Auction/Create/formValuesVerifier.js"></script>
<script src="~/Scripts/MyLib/Auction/Create/creatorOnClick.js"></script>
<script src="~/Scripts/MyLib/Auction/Create/housePrinter.js"></script>
<style>
    p {
        font-family: monospace;
    }
</style>
<div class="row">
    <div id="formContainer" class="col-lg-3">
        <h3>Создай свой аукцион!</h3>
        <p>Имя</p>
        <div id="nameErrorField"></div>
        <input type="text" id="Name" name="Name" required />
        <p>Описание</p>
        <div id="descriptionErrorField"></div>
        <input type="text" id="Description" name="Description" required />
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Выбрать категорию
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="category">
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Электроника</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Фото и видеокамеры</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Телефоны</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Аудио и видеотехника</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Игровые приставки</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Просто очень крутая электронная штука</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Компьютеры</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Аксессуары и расходники</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Комплектующие</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Накопители</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Периферийные устройства</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Игры и ПО</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Компы</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Оргтехника</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Бытовая техника</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Климатическая техника</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Мелочи для кухни</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Техника для красоты</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Крупная техника для кухни</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Техника для дома</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Жизненное</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Мелочи для жизни</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Всякие приколюхи</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Домашний хлам</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Шмотки</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Одежда для милых дам</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Одежда для респектабельных господ</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Украшения для внешнего вида</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Прочее</a>
                    <ul class="dropdown-menu-right">
                        <li role="presentation"><a role="menuitem" tabindex="-1" id="Прочее" href="#">Еда</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Напитки</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Услуги</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Люди</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Книги</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="infoErrorField"></div>
        <div id="info"></div>
        <p>Часов</p>
        <div id="hoursErrorField"></div>
        <input type="number" min="0" id="Hours" name="Hours" required />
        <p>Минут</p>
        <div id="minutesErrorField"></div>
        <input type="number" min="1" id="Minutes" name="Minutes" required />
        <p>Файлик</p>
        <input type="file" id="file" />
        <input type="button" id="creator" onclick="creatorOnClick()" class="btn btn-default" value="Создать аукцион" title="Кокнуть!"/>
        <div id="fileErrorField"></div>
        <div id="checkboxInfo"></div>
    </div>
    <div id="locationsContainer" class="col-lg-5">
        <h3>Выбери дом для него</h3>
        @foreach (var item in Model)
        { 
            <script>
                var q = {
                    id: @item.Id,
                    university: '@item.University',
                    faculty: '@item.Faculty',
                    adress: '@item.Adress'
                    };
                a.push(q);
            </script>
        }
        <div class="btn-group">
            <button type="button" class="btn btn-default" onclick=" printHouses(this) ">МГТУ</button>
            <button type="button" class="btn btn-default" onclick=" printHouses(this) ">МФТИ</button>
            <button type="button" class="btn btn-default" onclick=" printHouses(this) ">НИУ ВШЭ</button>
            <button type="button" class="btn btn-default" onclick=" printHouses(this) ">МГУ</button>
            <button type="button" class="btn btn-default" onclick=" printHouses(this) ">НИЯУ МИФИ</button>
        </div>
        <div id="houses">
        </div>
        <div id="housesErrorField"></div>
         
    </div>
    <div id="infoForm" class="col-lg-4">
        <h3>Привет, друг</h3>
        <p>Добавляй свой хит! Стопудов крутой!</p>
        <img src="~/Content/SiteImages/petuh6.jpg" height="100%" width="100%" title="COOOOOCK!" /> 
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

