@{
    ViewBag.Title = "CurrentAuction";
}
@model CocktionMVC.Models.DAL.Auction

<head>
    <script type="text/javascript" src="~/Scripts/Jquery/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/MyLib/vis.js"></script>
    <script type="text/javascript" src="~/Scripts/Jquery/jquery.countdown.js"></script>
    <script type="text/javascript" src="~/Scripts/MyLib/auctionEndLogic.js"></script>

    <title></title>
    <link rel="stylesheet" href="~/Content/hiddenButtons.css" />
</head>
<h2>Текущий аукцион</h2>
@section scripts{ 
    <script src="~/Scripts/Jquery/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>
        $(function () {
            chat = $.connection.auctionHub;
            //Функция для добавления сообщения на страничку
            chat.client.addNewMessageToPage = function (name, message) {
                $('#msgContainer').append('<p>'+name+':'+message+ '</p>');
            };

            //Функция для отображения информации о тотализаторе
            chat.client.updateToteBoard = function(data)
            {
                $('#toteBoardInfo').empty();
                $('#toteBoardInfo').append(data);
                
            };
            
            chat.client.addExtraNodesToPages = function (fileName, name, parentProductId, childProductId) {
                nodes.add([{ id: childProductId, label: name, shape: 'circularImage', image: 'http://cocktion1.azurewebsites.net/Images/Thumbnails/' + fileName }]);
                edges.add([{ from: parentProductId, to: childProductId }]);
            }

            //Функция для добавления товара на все страницы аукциона
            chat.client.addNodesToPages = function (fileName, name, productId){
                nodes.add([{ id: productId, label: name, shape: 'circularImage', image: 'http://cocktion1.azurewebsites.net/Images/Thumbnails/' + fileName }]);
                edges.add([{ from: i, to: productId }]);

            };


            //функция для объявления лидера на всех страничках
            //ВО ВРЕМЯ АУКЦИОНА!!!!!!!
            chat.client.showLeaderOnPage = function (leaderId){
                $('#leaderInfo').empty();
                $('#leaderInfo').append('<p>Текущий лидер аукциона ' + leaderId + '</p>');
                isChosen = true;
            };

            chat.client.finishAuction = function()
            {
                $n.countdown('stop');
                getAuctionResults();
            };

            $.connection.hub.start().done(function () {
                chat.server.addNewRoom(@Model.Id);
                $('#sendMsg').click(function () {
                    chat.server.send('@User.Identity.Name', $('#enterMsgContainer').val(), @Model.Id);
                    $('#enterMsgContainer').val('').focus();

                });
            });
        });
    </script>
}
<body id="globalContainer">
    <div class="row" id="networkContainer">
        <div class=" col-lg-8">
            <div id="mynetwork"></div>
        </div>
        <div class="col-lg-4">
            <div id="timer"></div>
            <div id="directChat">
                <ul id="msgHiddenContainer" class="panel panel-default"></ul>
            </div>
            <div id="updater">
                <form id="uploader">
                    <p>Введите наименование ставки</p>
                    <input type="text" id="bidName" />
                    <p>Введите Описание</p>
                    <input type="text" id="bidDescription" />
                    <p>Введите категорию</p>
                    <input type="text" id="bidCategory" />
                    <p>Можете прикрепить файлик</p>
                    <input type="file" name="docs" id="fileInput">
                    <input type="submit" value="Добавить свой лот" id="addBid" />
                </form>
            </div>
            <div id="extraBidContainer">
                <p>Введите наименование довеска</p>
                <input type="text" id="extraBidName" />
                <p>Введите Описание довеска</p>
                <input type="text" id="extraBidDescription" />
                <p>Введите категорию довеска</p>
                <input type="text" id="extraBidCategory" />
                <p>Можете прикрепить файлик</p>
                <input type="file"  id="extraFileInput">
                <button type="button" id="submitExtraBid" class="btn btn-danger" onclick="addExtraBid(@Model.Id)">Послать довесок</button>
            </div>
            <button type="button" class="btn btn-success" id="addExtraBid" onclick="showExtraBidAdder()">Добавить довесок</button>
            <div id="nodeInfo"></div>
            <div id="leaderInfo"></div>
            <button type="button" class="btn btn-success" id="chooseLeader">Выбрать лидера</button>
            <button type="button" class=" btn btn-danger" id="stopAuction">Завершить аукцион</button>
            <button type="button" class="btn btn-info" id="scrollToChatBtn">К чату</button>
          </div>
    </div>

    <div class="row">
        <div class="col-lg-5">
            <div id="chatContainer">
                <ul id="msgContainer"></ul>
                <input type="text" class="form-control" placeholder="Text input" id="enterMsgContainer">
                <button type="button" class="btn btn-success" id="sendMsg">Кудахнуть</button>
                <button type="button" class="btn btn-info" id="scrollToTreeBtn">К аукциону</button>
            </div>
        </div>
        <div class="col-lg-7">
            <div id="toteBoardContainer">
                <div id="eggInfo"></div>
                <p>Введите количество яиц</p>
                <input type="text" id="eggsAmount" />
                <button type="button" class="btn btn-info" id="addEggsBtn">Поставить ставку</button>
                <div id="toteBoardInfo">

                </div>
            </div>
            
        </div>
    </div>
    
    <script type="text/javascript" src="~/Scripts/MyLib/checkers.js">//ниже был окшнэндлоджик</script>

    <script>   


    //Здесь содержится таймер и проверка
    //на то, что человек кнопку увидит
    var chat;
    var isChoosed = false;
    var auctionId = @Model.Id;
    var ownerId;
    var winnerId;
    var userStatus = '@User.Identity.IsAuthenticated';
    var userName = '@User.Identity.Name';
        var ownerName = '@Model.OwnerName';
    var $n = $('#timer');
    if ('@Model.IsActive' == "True")
    {
        $n.countdown('@Model.EndTime.Year/@Model.EndTime.Month/@Model.EndTime.Day @Model.EndTime.Hour:@Model.EndTime.Minute:@Model.EndTime.Second')
            .on('update.countdown',function(event) {
                var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                var $this = $(this).html(event.strftime(''
                     + totalHours + ' : '
                     + '<span>%M</span> : '
                    + '<span>%S</span>'));
            }).on('finish.countdown', function(event) {
                sayThatFinished();
            });
        showUploaderOrStopper(userStatus, userName);

    }
    else
    {
        getAuctionResults();
    }
    

        //если выбран победитель аукциона
    var nodeId;
        </script>
    <script type="text/javascript" src="~/Scripts/MyLib/auctionActiveLogic.js"></script>
    <script type="text/javascript" src="~/Scripts/MyLib/btnsOnClickPrcsg.js"></script>
    <script>
        // create an array with nodes
        var nodes = new vis.DataSet();
        var i = @Model.SellProduct.Id;
        nodes.add([
          { id: i, label: '@Model.SellProduct.Name', shape: 'circularImage', image:'http://cocktion1.azurewebsites.net/Images/Thumbnails/'+'@Model.SellProduct.Photos.First().FileName' }
        ]);
        // create an array with edges
        var edges = new vis.DataSet();
        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
            nodes: nodes,
            edges: edges,
        };
        var options = {
        };
        var network = new vis.Network(container, data, options);
        network.on('select',nodeSelected);
        function addNode(fileName, name, productId) {
            nodes.add([{ id: productId, label: name, shape: 'circularImage', image: 'http://cocktion1.azurewebsites.net/Images/Thumbnails/'+ fileName }]);
            edges.add([{ from: i, to: productId }]);
        };

    </script>
    <script type="text/javascript" src="~/Scripts/MyLib/scroller.js"></script>
    <script>
        //вывод на экран лидера аукциона
        printLider(nodeId);
        //вывод на экран формы с загрузчиком
        //либо кнопки для пользователя
        //если выбран какой-то из товаров
        //добавлоенном товаре
        addBid(auctionId);
    </script>
    @{

        if (Model.BidProducts != null)
        {
            foreach (var i in Model.BidProducts)
            {
                <script>
                    addNode('@i.Photos.First().FileName', '@i.Name', @i.Id);
                </script>
            }
        }
    }
</body>

